<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все посты найденные по запросу "{{"s"}}"</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>

    <a href="/" class="link">Назад</a>

    <h1>Посты по запросу "{{s}}"</h1>

    {%for x in data%}
        {%if s.lower() in x["content"].lower()%}
            <div class="post">
                {%if 'http' in x['pic']%}
                    <img src="{{x['pic']}}" width="100%" alt="">
                {%else%}
                    <img src="/uploads/images/{{x['pic']}}" width="100%" alt="">
                {% endif %}
            <p>{{x["content"]}} </p>
        </div>
        <hr>
        {% endif %}
    {% endfor %}
</main>
</body>
</html>
